.divGeneral{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:normal;
    width: 250px;
    height: 340px;
    align-items: center;
    background-color:rgb(9, 38, 73);
    padding: .5em;
    margin: .75em;
    border-radius: 10px;
   
}
.imagen {
    border-radius: 10px;
   position:static;
    width: 200px;
    height: 200px;
    margin: .5em;
    padding: .1em;
    align-items: center;
   
}
.divTexto{
    
    display: flex;
    flex-direction: column;
    background-color: rgb(113, 153, 201);
    width: 100%;
    height: 100%;
    border-radius: 7px;
    margin: auto;
    padding: .1em;
}
.titulos {
    display: flex;
    flex-direction: column;
    font-size: 12px;
    width: fit-content;
    height: fit-content;
    margin: 0%;
    padding: .3em;
    
  
}